* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(to bottom, #131313 0%, #2b2b2b 50%, #131313 100%);}


